<form class="mt-5 mb-5">
    <div class="form-row">
        <div class="col-md-6">
            <label for="inputEmail">Nome</label>
            <input type="text" class="form-control" id="inputNome" name="inputNome" placeholder="Nome">
        </div>
        <div class="col-md-6">
            <label for="inputPassword">Sobrenome</label>
            <input type="text" class="form-control" id="inputSobrenome" name="inputSobrenome" placeholder="Sobrenome">
        </div>
        <div class="col-md-6">
            <label for="selectEstado">Sexo</label>
            <select id="inputSexo" class="form-control" name="inputSexo">
                <option selected>Masculino</option>
                <option>Feminino</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword">Senha</label>
            <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Senha">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCEP">CEP</label>
            <input type="text" class="form-control" id="inputCEP">
        </div>
        <div class="form-group col-md-8">
            <label for="inputEndereco">Endereço</label>
            <input type="text" class="form-control" id="inputEndereco" name="inputEndereco" placeholder="Rua dos Bobos, nº 0">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputCidade">Cidade</label>
            <input type="text" class="form-control" id="inputCidade" name="inputCidade">
        </div>
        <div class="form-group col-md-4">
            <label for="selectEstado">Estado</label>
            <select id="selectEstado" class="form-control" name="selectEstado">
                <option selected>Escolher...</option>   
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}