@model IList<ChatUni9.Models.UserViewModel>
<div class="modal fade" id="modal-add-contact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pesquisar Usuários</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input class="form-control" type="text" name="inputSearch" id="campo_busca" placeholder="Procurar" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit" id="btn-search">Procurar</button>
                    </div>
                </div>
                <div>
                    <div id="" class="people-list">
                        <ul class="list-unstyled chat-list mt-2 mb-0">
                            @foreach (var user in Model)
                            {
                                <div style="width:50px; float:left;">
                                    <avatar-initials initials="@user.Nome.Substring(0, 1)@user.Sobrenome.Substring(0, 1)"
                                                     auto-color="true"
                                                     text-scale="1.2"
                                                     text-weight="300"
                                                     rounded
                                                     text-color="white"
                                                     size="45"
                                                     border="1">
                                    </avatar-initials>
                                </div>
                                <li class="clearfix">
                                    <div class="about col-md-10">
                                        <div class="name">@user.Nome @user.Sobrenome</div>
                                        <div class="col-md-6">
                                            <a href="#" class="btn btn-outline-success btn-sm form-control btn-add" data-userid="@user.ID">
                                                <div><i class="fa fa-plus" aria-hidden="true" type="submit"></i>Adicionar</div>
                                            </a>
                                        </div>                                        
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>




